---
version: "3"

services:
    flask-app:
        build:
            context: ./
            dockerfile: ./Dockerfile
        ports:
          - 5000:5000
        image: alb6443/iss_tracker:midterm1
        # volumes:
        #   - ./config.yaml:/config.yaml